<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Performance Analysis</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/performance.css">
    <link rel="icon" href="../static/img/icon.png">

</head>

<body>
    <div class="mainContainer">

        <div class="headingContainer">
            <div class="heading">
                IDENTIFICATION OF PLASMODIUM PARASITES IN HUMAN BLOOD CELLS USING CONVOLUTIONAL NEURAL NETWORKS
            </div>
        </div>

        <div class="contentContainer">
            <div class="subHeading1">Malaria-Infected Cells Detection</div>
            <div class="subHeading2">PERFORMANCE ANALYSIS :</div>
            <div class="resultContainer">
                <div><img src="../static/img/LossVal_loss.png" style="width:400px"></div>
                <div><img src="../static/img/AccVal_acc.png" style="width:400px"></div>
            </div>
        </div>
    </div>
</body>


</html>