@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #FEF5ED;
}
body{
    background-color: #FEF5ED;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.videoContainer {
    margin: 30px 0px 0px;
}

.videoPlayer {
    max-height: 480px;
    max-width: 858px;
    border: 0px solid transparent;
    border-radius: 25px;
}

.primaryButton {
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px 40px;
    border: none;
    background-color: #3BACB6;
    color: #FEF5ED;
    border-radius: 10px;
    font-size: 22px;
}
.heading{
    font-size: 32px;
    text-align: center;
    color: #FEF5ED;
    background-color: #3BACB6;
    padding: 20px 20px;
}
